<!doctype html>
<html>
<% include ./partials/head %>
<body>
	<% include ./partials/header %>
	<div class="container">
	
		<div class="jumbotron text-center">
			<h1><span class="fa"></span> Home</h1>			
		</div>
		<hr>
		<div>

			<iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/5b2699ed-bc32-4caa-9a88-528511962c4c"></iframe>
		</div>
	
	</div>
	<% include ./partials/footer %>
</body>
</html>